[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
colorama = "*"
jsf = "*"
click = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.10"
