[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
colorama = "*"
jsf = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.10"
